{% extends "ap2.j2" %}

{% block summary %}
<p>Dit applicatieprofiel dient als weergave van het stapsgewijs proces rond het maken, verwerken en interpreteren van thermografische scans van gebouwen.</p>
<p>Dit applicatieprofiel werd ontwikkeld in het kader van het project rond ThermAI, waarbij een voertuig uitgerust met een thermografische camera, de Thermocar, gebouwgevels scant om gebieden met energieverlies te identificeren. Deze gegevens worden vervolgens verwerkt om huiseigenaren gericht renovatieadvies te geven. De huidige handmatige gegevensverwerking is echter tijdrovend en zorgt voor lange wachttijden voor bewoners.</p>
<p>De interpretatie kan zowel manueel gebeuren, maar dankzij het gebruik van AI kan dit ook geautomatiseerd verlopen. Er is in deze standaard dan ook bijzondere aandacht gegeven aan deze automatisatie. Dit traject werd opgezet door de <a href="https://www.wvi.be/">West-Vlaamse Intercommunale (WVI)</a> en ondersteund door <a href="https://www.brugge.be/">Stad Brugge</a>.</p> 
<p>Om de eigenlijke Observatie en bijbehorende informatie rond de Observatieprocedure, het ObserveerbaarKenmerk, de Observatieverzameling en de Sensor te capteren, werden deze klassen overgenomen uit het internationaal erkende <a href="https://www.w3.org/TR/vocab-ssn/">Semantic Sensor Network Ontology (SSNO)</a>. Een Observatie wordt steeds uitgevoerd met een Sensor, dewelke nog verschillende subklasses heeft. De subklasses, die relevant zijn voor het maken van thermografische scans, en dus nieuw werden gedefinieerd voor dit traject, zijn: Camera, GPS, en Opstelling. Daarnaast werd, om informatie te capteren rond het gebruikte AI model voor intepretatie van de beelden, ook de klasse MachineLearning Model overgenomen uit <a href="https://semiceu.github.io/MLDCAT-AP/releases/2.0.0/">MLDCAT-AP</a>. Ook deze klasse wordt in het model als subklasse van Sensor gezien</p>
<p>Het is belangrijk om te begrijpen dat de klasse Observatie een representatie is van elke stap in het proces, gaande van de effectieve Meting, tot Classificatie, tot GeometrieObservatie en de eigenlijke Interpretatie. De eerste drie subklasses zijn overgenomen uit <a href="https://data.vlaanderen.be/doc/applicatieprofiel/observaties-en-metingen/">OSLO Observaties en Metingen</a>, terwijl Interpretatie nieuw gedefinieerd werd in dit traject.</p>
<p>De Observatie zelf werd op het hoogst mogelijke niveau gemodelleerd, door het gebruik van de klasse Any. Deze klasse is zelf overkoepelend voor de subklasse Domeinobject, wat erop wijst dat de oberservatie in dit model steeds op een vast, niet-bewegende object gebeurt. Dit Domeinobject is namelijk ook overkoepelend voor de nieuwe gedefinieerde klassen Video en Foto, alsook de herbruikte klassen Gebouw, Gebouweenheid, BIM_Gebouw en BIM_Element. Deze werden respectievelijk overgenomen uit <a href="https://data.vlaanderen.be/ns/gebouw/">OSLO Gebouw</a> en <a href="https://www.buildingsmart.org/standards/bsi-standards/industry-foundation-classes/">IFC</a>. </p>
<p>Tenslotte zijn er ook nog enkele klassen aan het model toegevoegd, die nog meer informatie kunnen bieden omtrent de gebruikte Toestel, Systeem, bijbehorend Deployment en het Platform waarop dit Systeem gehost wordt. Deze klassen zijn allen afkomstig van <a href="https://www.w3.org/TR/vocab-ssn/">Semantic Sensor Network Ontology (SSNO)</a>, alsook de <a href="https://saref.etsi.org/core/v4.1.1/">Smart Applications REFerence ontology (SAREF)</a>.</p>
<p>Dankzij deze semantische standaard wordt de uitwisseling tussen o.a. gemeentelijke en geografische systemen bevordert en de doorzoekbaarheid en vindbaarheid vergemakkelijkt. Bovendien biedt deze standaard ook mogelijkheden naar uitbreidbaarheid van andere automatische (AI-ondersteunde) analyse van andere ruimtelijke objecten.</p>
{% endblock %}
