{% extends "ap2.j2" %}

{% block summary %}
<p>Met dit applicatieprofiel kunnen de resultaten en tussenresultaten worden beschreven van het stapsgewijs proces rond het maken, verwerken en interpreteren van thermografische scans van gebouwen
.</p>
<p>Het werd ontwikkeld in het kader van projecten rond thermografische gebouwanalyse, waarbij een voertuig uitgerust met een thermografische camera gebouwgevels scant om gebieden met energieverlies te identificeren. Deze gegevens worden vervolgens verwerkt om huiseigenaren gericht renovatieadvies te geven. In plaats van de tijdrovende handmatige gegevensverwerking wordt nu automatische verwerking door middel van AI nagestreefd.</p>
<p>Om de eigenlijke Observatie en bijbehorende informatie rond de Observatieprocedure, het ObserveerbaarKenmerk, het geobserveerd Object en de Sensor te capteren, werden klassen gebruikt uit het internationaal erkende <a href="https://www.w3.org/TR/vocab-ssn/">Semantic Sensor Network Ontology (SSNO)</a>, afgestemd op <a href="https://docs.ogc.org/as/20-082r4/20-082r4.html">ISO19156</a>. Een Observatie wordt uitgevoerd met een Sensor en meer specifiek voor thermografische scans met een thermografische Camera en GNSS Ontvanger in een bepaalde Opsteling. Deze zijn als subklassen van Sensor voorzien naast MachineLearningModel, een klasse uit uit <a href="https://semiceu.github.io/MLDCAT-AP/releases/2.0.0/">MLDCAT-AP</a> waarmee het AI model kan worden beschreven indien dat voor de intepretatie van de beelden is gebruikt.</p>
<p>Met uitzondering van beeldcalibaratie kan  elke stap in het proces voorgesteld worden door een instantie van de klasse Observatie, gaande van de effectieve opname van de video, de extractie van een specifiek gelokaliseerd frame daaruit, het identificeren van de gevelelementen in dat frame tot het bepalen van het warmteverlies van een element en de classificatie ervan. Zo komen we tot een advies over het warmteverlies in een gebouw bestaande uit een set van classificaties van gevelelementen, samengevoegd in een Observatieverzameling.</p>
<p>De Objecten die geobserveerd worden zijn de wegen of straten die met de thermografische camera werden gefilmd (niet expliciet in het model), de Video die daar het resultaat van is, het gelokaliseerd frame daaruit (voorgesteld door een object van het type Foto), het Gebouw of de Gebouweenheid dat met het frame overeenstemt en de gevelelementen daarvan waarvan het individueel warmteverlies zal worden bepaald en geclassificeerd.</p>
<p>Video en Foto kunnen beschreven worden als Informatieobject (een klasse uit <a href="https://cidoc-crm.org/">CIDOC-CRM</a>) en de subklassen daarvan voorzien voor dergelijke objecten in <a href="https://cidoc-crm.org/frbroo/">LRM</a> (zie ook <a href="https://data.vlaanderen.be/doc/applicatieprofiel/cultureel-erfgoed-object/">OSLO Cultureel Erfgoed</a> en <a href="https://data.vlaanderen.be/doc/implementatiemodel/cultureel-erfgoed-basisregistratie/">OSLO Cultureel Erfgoed Basisregistratie</a>). Gebouw en Gebouweenheid zijn klassen uit <a href="https://data.vlaanderen.be/ns/gebouw/">OSLO Gebouw</a> en voor de gevelelementen gebruiken we de klassen BIM_Gebouw en BIM_Element uit de <a href="https://www.buildingsmart.org/standards/bsi-standards/industry-foundation-classes/">Industry foundation Classes</a> (IFC) en de overeenstemmende <a href="https://standards.buildingsmart.org/IFC/DEV/IFC4/ADD2_TC1/OWL/index.html">ontologie</a>.</p>
<p>Voor meer info over het concreet gebruik van deze standaard verwijzen we naar uitgewerkte datavoorbeelden per processtap in <a href="https://github.com/Informatievlaanderen/OSLOthema-thermAI/tree/main/resources/Datavoorbeelden">github</a> of in het <a href="https://github.com/Informatievlaanderen/OSLOthema-thermAI/blob/main/resources/ModelleerrapportThermAI.pdf">modelleerrapport</a>.  </p>
{% endblock %}
